.menu-bars {
	margin-left: 2rem;
	font-size: 2rem;
	background: none;
}

.nav-menu {
	background-color: #fff;
	border-right: 1px solid #ebeff2;

	height: 100vh;
	display: flex;
	justify-content: center;
	transition: 850ms;
}

.nav-menu.active {
	left: 0;
	transition: 350ms;
}
.nav-menu > ul {
	padding: 0;
}
ul {
	margin: 0;
}
.nav-text {
	display: flex;
	justify-content: start;
	align-items: center;
	margin: 0px 24px 0px 24px;
	list-style: none;
	height: 40px;
}
.logo-name {
	box-sizing: border-box;
	padding-top: 17px;
	height: 60px;
	padding-left: 24px;
	list-style: none;
	border-bottom: 1px solid #ebeff2;
}
.logo-name > h3 {
	font-size: 18px;
	color: #109cf1;
	margin: 0;
	padding: 0;
}
.nav-text a {
	text-decoration: none;
	color: #334d6e;
	font-size: 13px;
	min-width: 208px;
	height: 20px;
	display: flex;
	align-items: center;
	border-radius: 4px;
}
.nav-text a:hover .myReact-icons > svg {
	fill: #109cf1;
	height: 20px;
}
.nav-text a:hover {
	color: #109cf1;
}

.nav-menu-items {
	width: 100%;
}

.navbar-toggle {
	background-color: #060b26;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: start;
	align-items: center;
}

span {
	margin-left: 16px;
}
